@model IEnumerable<Models.HistoryGenerateFile>

@{
    ViewData["Title"] = "Baixar Arquivos";
}

<h1>Baixar Arquivos</h1>
<hr />


@if (ViewBag.User == "temp")
{
    <div class="row h5">
        <div class="col-md-12">
            <span>Você está logado no sistema com uma conta temporária. Favor clicar no link abaixo para criar sua conta.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-0 m-1">
            <form method="post" asp-controller="Login" asp-action="EditTemp">
                <input class="btn btn-link" type="submit" value="Criar Conta" />
            </form>
        </div>
    </div>
}
else @if (!ViewBag.Authenticate)
{
    <div class="row h5">
        <div class="col-md-12">
            <span>Para acessar essa página, é necessário estar logado no sistema.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-0 m-1">
            <form method="post" asp-controller="Login" asp-action="Index">
                <input class="btn btn-link" type="submit" value="Entrar" />
            </form>
        </div>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.ActionLink("Download", "DownloadFile", new { fileName = item.FileName })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}