@model Models.User

@{
    ViewData["Title"] = "Editar Conta";
}

<h1>Editar Conta</h1>
<h5>Olá @Model.Name.</h5>
<br />
<h5>Digite sua nova senha.</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Trocar Senha" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}