@{
    ViewData["Title"] = "Enviar Arquivo";
}

<h1>Enviar</h1>

<h4>Arquivo</h4>
<hr />

@if (!ViewBag.Authenticate)
{
    <div class="row h5">
        <div class="col-md-12">
            <span>Para acessar essa página, é necessário estar logado no sistema.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-0 m-1">
                <form method="post" asp-controller="Login" asp-action="Index">
                    <input class="btn btn-link" type="submit" value="Entrar" />
                </form>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="SendFile">
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="btn btn-secondary" type="file" name="file" value="Escolher Arquivo" multiple />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="btn btn-primary" type="submit" value="Enviar Arquivo" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}
