@{
    ViewData["Title"] = "Enviar Arquivo";
}

<h1>Enviar</h1>

<h4>Arquivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="SendFile">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Enviar arquivo</p>
                    <input type="file" name="file" value="Escolher Arquivo" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Enviar Arquivo" />
                </div>
            </div>
        </form>
    </div>
</div>
