@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Route Administration - Gerenciador de Rotas</h1>
    <hr />
    <div>
        <small>Para iniciar o sistema, faça o login acessando o atalho <span class="text-primary font-weight-bold">"Usuário"</span> no menu superior.</small>
    </div>
</div>
<br />
<div class="">
    <span>Estamos localizados na</span><br />
    <span class="font-weight-bold">Av. Rodrigo Fernando Grillo, 207</span><br />
    <span>Araraquara, SP.</span><br />
</div>
<iframe width="100%" height="450" frameborder="0" style="border:0; padding-bottom: 50px;"
        src="https://www.google.com/maps/embed/v1/place?q=Av. Rodrigo Fernando Grillo 207, Araraquara, SP, 14801-534&key=AIzaSyAP0WKpL7uTRHGKWyakgQXbW6FUhrrA5pE" allowfullscreen></iframe>
