@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Route Administration - Gerenciador de Rotas</h1>
    <hr />
    <br />
    <br />
    <div>
        <label>Para iniciar o sistema, faça o login acessando o atalho "Entrar" no menu superior.</label>
    </div>
</div>
